<html>
    <body>
        <h1>Welcome to the Hawaii Weather App</h1>
        <h3>
            <ul>
                <li><a href="/api/v1.0/precipitation">precipitation</a href></li>
                <li><a href="/api/v1.0/stations">stations</a href></li>
                <li><a href="/api/v1.0/stations2">stations json</a href></li>
                <li><a href="/api/v1.0/tobs">temperature</a href></li>
                <li><a href="/api/v1.0/tobs2">temperature json</a href></li>
                <li><a href="/api/v1.0/start?start_date=2016-11-5">starts</a href></li>
                <li> Or Copy:   /api/v1.0/start?start_date=2016-11-5 </li>
                <li><a href="/api/v1.0/start2?start_date=2015-11-2">starts json</a href></li>        
                <li> Or Copy:   /api/v1.0/start2?start_date=2015-11-2</li>
                <li><a href="/api/v1.0/start-end?start_date=2016-11-5&end_date=2016-11-12">start/end</a href></li> 
                <li>or copy:  /api/v1.0/start-end?start_date=2016-11-5&end_date=2016-11-12 </li>
                <li><a href="/api/v1.0/start-end2?start_date=2016-11-5&end_date=2016-11-12">start/end json</a href></li>
                <li>or copy:  /api/v1.0/start-end2?start_date=2016-11-5&end_date=2016-11-12 </li>
            </ul>
        </h3> 
    </body>
</html>
